<th:block th:fragment="footer"> 
    <footer>
        <div class="social">
            <label>Seguinos en:</label>
            <a href="https://twitter.com/Noelialpmodest" target="_blank"><span class="icon icon-twitter"></span></a>
            <a href="https://www.facebook.com/vestidosmodestosnoelia" target="_blank"><span class="icon icon-facebook2"></span></a>
            <a href="https://www.instagram.com/noelialpbsas/" target="_blank"><span class="icon icon-instagram"></span></a>
<!--            <a href="" target="_blank"><span style="background-image: url(imgalvaro/ml.png);width: 32px;height: 32px;background-repeat: no-repeat;display:  block;background-size:  contain;border-radius: 50%;    "></span></a>-->
        </div>
        <div class="desarrollador">
            <p>desarrollado <a href="#">developerSan</a></p>
        </div>
    </footer>
</th:block>