@media (max-width:767px) {

    section{
        grid-area:section;
    }
    /* PUBLICIDAD*/
    section .publicidad{
        width: 100vw;
        padding-bottom: 20px;
    }

    /*MODIFICACION DE LA LIBRERIA DE SWIPER*/
    .swiper-container-horizontal>.swiper-pagination-bullets{
        display: flex;
        justify-content: center;
        align-items: center;
        bottom: 2px;
    }
    .swiper-pagination-bullet-active{
        background: black;
        width: 12px;
        height: 12px;
    }
    /*FIN*/
}




@media(min-width:768px) and (max-width:1023px){

    /*    SECTION*/
    section {
        grid-area:section;
        margin-bottom: 15px
    }
    section .publicidad{
        width: 100vw;
        padding-bottom: 20px;
    }

    /*MODIFICACION DE LA LIBRERIA DE SWIPER*/
    .swiper-container-horizontal>.swiper-pagination-bullets{
        display: flex;
        justify-content: center;
        align-items: center;
        bottom: 2px;
    }
    .swiper-pagination-bullet-active{
        background: black;
        width: 12px;
        height: 12px;
    }
    /*FIN*/

}

@media(min-width:1024px){

    /*    SECTION*/

    section {
        grid-area: section;
        margin-bottom: 15px
    }
    section .publicidad{
        width: 98vw;
        padding-bottom: 20px;
    }

    /*MODIFICACION DE LA LIBRERIA DE SWIPER*/
    .swiper-container-horizontal>.swiper-pagination-bullets{
        display: flex;
        justify-content: center;
        align-items: center;
        bottom: 2px;
    }
    .swiper-pagination-bullet-active{
        background: black;
        width: 12px;
        height: 12px;
    }
    /*FIN*/
}

