@media (max-width:767px) {

    /*    SECTION*/
    section{
        grid-area:section;
    }
    section .headerSection{
        background: #e8e2d6; 
        padding: 10px 0px;
        text-align: center;
    }
    section .headerSection h4{
        padding: 0px 10px;
        display: inline-block;
        text-transform:  uppercase;
        border-left: 2px solid black;
        border-right: 2px solid black;
        font-weight:  bold;
    }
    section #galeria .galeria-img{
        display:none;
    }
    section #galeria, section #filtro{
        margin-top: 15px;
    }
    section #filtro {
        position: relative;
    }
    section #filtro h3{
        display: inline-block;
        margin-bottom:10px;
    }
    section #filtro h3:after{
        background: url(../imgalvaro/angle-arrow-down_icon-icons.com_73683.png) no-repeat center center/contain;
        content: "";
        display: inline-block;
        width: 1em;
        height: 1em;
        margin-left: 1em;
        transition: 350ms ease-in-out;
        -webkit-transform: rotate(180deg);
        transform: rotate(0deg);
    }
    section #filtro h3.active:after{
        transform: rotate(180deg);
    }
    section #filtro ul{
        display: none;
    }
    section #filtro ul{
        position: absolute;
        z-index: 999;
        background: rgba(255, 255, 255, 0.9);
        width: 100%;
        left: 0px;
        padding: 0px 20px;
    }
    section #filtro .tipologia > a,section #filtro .color > a , section #filtro .precio > a{
        padding:10px 0px 10px 5px;
        display: block;
        font-weight: bold;
    }
    section #filtro .tipologia>  a:after,section #filtro .color>  a:after , section #filtro .precio>  a:after {    
        background: url(../imgalvaro/angle-arrow-down_icon-icons.com_73683.png) no-repeat center center/contain;
        content: "";
        display: inline-block;
        width: 1em;
        height: 1em;
        margin-left: 1em;
        transition: 350ms ease-in-out;
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    section #filtro ul > .tipologia.active > a:after,section #filtro ul > .color.active > a:after, section #filtro ul > .precio.active > a:after{
        transform: rotate(0deg);
    }
    section #filtro .tipologia ol li a,section #filtro .color ol li a , section #filtro .precio ol li a{
        padding-bottom:2px;
        margin-bottom: 5px;
        display: inline-flex;
        align-items: center;
        text-transform: uppercase;
    }
    section #filtro .color ol li span,section #filtro .precio  ol   li  span{
        width: 14px;
        height: 14px;
        display: inline-block;
        border-radius: 50%;
        margin: auto;
        border: 1px solid black;
        font-size: 12px;
    }
    section #filtro .tipologia ol li a:hover, section #filtro .color ol li a:hover, section #filtro .precio ol li a:hover{
        border-bottom: 1px solid black;
        opacity: 0.6;
    }

    section #galeria article .container-article{
        margin-bottom:15px;
    }
    section #galeria article .container-article .detallePedido{
        padding: 10px 2px 0px;
        text-align:center;
        background:white;
    }
    section #galeria article .container-article .detallePedido h4{
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .detallePedido .colores {
        padding: 10px 0px;
        display: flex;
        justify-content: center;
    }
    /*    CHECKED COLOR*/
    .colores > li > input{
        display: none
    }
    .colores > li > label{
        width: 20px;
        display: block;
        height: 20px;
        border-radius: 50%;
        margin: 0px 3px;
        border: 1px solid black;
    }
    .colores  li  input:checked ~ label{
        border:3px solid grey;
    }
    /*    FIN CHECKED COLOR*/

    /*MODIFICACION SWIPER*/
    .swiper-pagination-bullet-active {
        opacity: 1;
        background: rgba(0,0,0,0.9);
    }
    /*FIN*/

    #galeria .row2 .col-xs-6{
        flex-basis: 49% !important;
        max-width: 49% !important;
    }
    #galeria .row2 {
        justify-content: space-between;
    }
    #galeria.col-xs-12, #galeria .row2 .col-xs-6{
        padding: 0px !important;
    }
}


@media(min-width:768px) and (max-width:1023px){

    /*    SECTION*/
    section {
        grid-area: section;
    }
    section .headerSection{
        background: #e8e2d6; 
        padding: 10px 0px;
        text-align: center;
    }
    section .headerSection h4{
        padding: 0px 10px;
        display: inline-block;
        text-transform:  uppercase;
        border-left: 2px solid black;
        border-right: 2px solid black;
        font-weight:  bold;
    }
    section #galeria, section #filtro{
        margin-top: 15px;
    }
    section #galeria .galeria-img{
        display:none;
    }

    section #filtro h3{
        text-align:center;
        margin-bottom:10px;
    }
    section #filtro .tipologia > a,section #filtro .color > a , section #filtro .precio > a{
        padding:10px 0px 10px 5px;
        display: block;
        font-weight: bold;
    }
    section #filtro .tipologia>  a:after,section #filtro .color>  a:after , section #filtro .precio>  a:after {    
        background: url(../imgalvaro/angle-arrow-down_icon-icons.com_73683.png) no-repeat center center/contain;
        content: "";
        display: inline-block;
        width: 1em;
        height: 1em;
        margin-left: 1em;
        transition: 350ms ease-in-out;
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    section #filtro ul > .tipologia.active > a:after,section #filtro ul > .color.active > a:after, section #filtro ul > .precio.active > a:after{
        transform: rotate(0deg);
    }
    section #filtro .tipologia ol li a,section #filtro .color ol li a , section #filtro .precio ol li a{
        padding-bottom:2px;
        margin-bottom: 5px;
        display: inline-flex;
        text-transform: uppercase;
    }
    section #filtro .color  ol   li  span, section #filtro .precio  ol   li  span{
        width: 14px;
        height: 14px;
        display: inline-block;
        border-radius: 50%;
        margin: auto;
        border: 1px solid black;
        font-size: 12px;
    }
    section #filtro .tipologia ol li a:hover, section #filtro .color ol li a:hover, section #filtro .precio ol li a:hover{
        border-bottom: 1px solid black;
        opacity: 0.6;
    }

    section #galeria article .container-article{
        margin-bottom:15px;
    }
    section #galeria article .container-article .detallePedido{
        padding: 10px 2px 0px;
        text-align:center;
        background:white;
    }
    section #galeria article .container-article .detallePedido h4{
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .detallePedido .colores {
        padding: 10px 0px;
        display: flex;
        justify-content: center;
    }

    /*    CHECKED COLOR*/
    .colores > li > input{
        display: none
    }
    .colores > li > label{
        width: 15px;
        height: 15px;
        display: block;
        border-radius: 50%;
        margin: 0px 3px;
        border: 1px solid black;
    }
    .colores  li  input:checked ~ label{
        border:3px solid grey;
    }

    /*MODIFICACION SWIPER*/

    .swiper-pagination-bullet-active {
        opacity: 1;
        background: rgba(0,0,0,0.9);
    }

    /*FIN*/
}

@media(min-width:1024px){

    /*    SECTION*/
    section {
        grid-area: section;
        margin-bottom: 15px;
    }
    section .headerSection{
        background: #e8e2d6; 
        padding: 10px 0px;
        text-align: center;
    }
    section .headerSection h4{
        padding: 0px 10px;
        display: inline-block;
        text-transform:  uppercase;
        border-left: 2px solid black;
        border-right: 2px solid black;
        font-weight:  bold;
    }
    section #galeria, section #filtro {
        margin-top: 15px;
    }
    section #galeria .slider-img{
        display:none;
    }


    section #filtro h3{
        text-align:center;
        margin-bottom:10px;
    }
    section #filtro .tipologia > a,section #filtro .color > a , section #filtro .precio > a{
        padding:10px 0px 10px 15px;
        display: block;
        font-weight: bold;
    }
    section #filtro .tipologia > a:hover,section #filtro .color > a:hover, section #filtro .precio > a:hover{
        opacity: .6;
    }
    section #filtro .tipologia>  a:after,section #filtro .color>  a:after , section #filtro .precio>  a:after {    
        background: url(../imgalvaro/angle-arrow-down_icon-icons.com_73683.png) no-repeat center center/contain;
        content: "";
        display: inline-block;
        width: 1em;
        height: 1em;
        margin-left: 1em;
        transition: 350ms ease-in-out;
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    section #filtro ul > .tipologia.active > a:after,section #filtro ul > .color.active > a:after, section #filtro ul > .precio.active > a:after{
        transform: rotate(0deg);
    }
    section #filtro .tipologia ol li a,section #filtro .color ol li a , section #filtro .precio ol li a{
        padding-bottom:2px;
        margin-left: 15px;
        margin-bottom: 5px;
        display: inline-flex;
        text-transform: uppercase;
    }
    section #filtro .color  ol   li  span, section #filtro .precio  ol   li  span{
        width: 14px;
        height: 14px;
        display: inline-block;
        border-radius: 50%;
        margin: auto;
        border: 1px solid black;
        font-size: 12px;
    }
    section #filtro .tipologia ol li a:hover, section #filtro .color ol li a:hover, section #filtro .precio ol li a:hover{
        border-bottom: 1px solid black;
        opacity: 0.6;
    }

    section #galeria article .container-article{
        margin-bottom:15px;
    }
    section #galeria article .container-article .detallePedido{
        padding: 10px 0px;
        text-align:center;
        background:white;
    }
    section #galeria article .container-article .detallePedido h4{
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .detallePedido .colores {
        padding: 10px 0px;
        display: flex;
        justify-content: center;
    }
    /*    CAMBIO DE IMAGEN*/
    section #galeria  .galeria-img .container-article .hover-img {
        position: relative;
    }
    section #galeria  .galeria-img .container-article .hover-img .frente{
        z-index: 999;
    }
    section #galeria  .galeria-img .container-article .hover-img:hover .atras{
        display: block;
        z-index: 9999;
    }
    section #galeria  .galeria-img .container-article .hover-img .atras{
        position: absolute;
        top: 0px;
        z-index: -1;
    }
    /*    FIN CAMBIO DE IMAGEN*/
    /*    CHECKED COLOR*/
    .detallePedido  .colores > li > input{
        display: none
    }
    .detallePedido  .colores > li > label{
        width: 1em;
        height: 1em;
        display: block;
        border-radius: 50%;
        margin: 0px 3px;
        border: 1px solid black;
    }
    .detallePedido  .colores  li  input:checked ~ label{
        border:3px solid grey;
    }
    /*    FIN CHECKED COLOR*/
}