@media (max-width:529px) {
    /*    SECTION*/
    section{
        grid-area:section;
    }
    section #zoom{
        display: none;
    }

    section #detallesProducto{
        padding:10px 2%;
    }
    .nombreProducto, .precioProducto{
        padding: 5px;
        text-align: center;
        font-size: 1.5em;
    }
    .descripcionProducto{
        display: none;
    }

    section #detallesProducto .eleccion > div{
        margin-bottom: 10px;
    }
    section #detallesProducto .eleccion .menuColor, section  #detallesProducto .eleccion .menuTalles, section  #detallesProducto .eleccion .cantidad{
        padding: 10px;
        display: flex;
        align-items: center;
    }
    #detallesProducto .eleccion .menuColor .colores li, #detallesProducto .eleccion .menuTalles .talles li{
        display: inline-block;
        margin-right: 8px;
    }

    /*    CHECKED COLOR*/
    #detallesProducto .menuColor .colores > li > input{
        display: none
    }
    #detallesProducto .menuColor .colores > li > label{
        width: 20px;
        height: 20px;
        display: block;
        border-radius: 50%;
    }
    #detallesProducto .menuColor .colores > li > input:checked  ~ label{
        opacity: 0.5; 
        border: 2px solid rgb(0, 0, 0);
    }
    /*FIN*/
    /*    CHECKED TALLE*/
    #detallesProducto .menuTalles .talles > li > input{
        display: none
    }
    #detallesProducto .menuTalles .talles > li > label{
        display: block;
        border: 1px solid black;
        padding: 5px;
    }
    #detallesProducto .menuTalles .talles > li > label:hover{
        background: grey;
        color: white;
    }
    #detallesProducto .menuTalles .talles> li > input:checked  ~ label{
        background: black;
        color: white;
    }
    /*FIN*/

    #detallesProducto .btn{
        margin: auto;
        width: 100%;
        margin-bottom: 10px;
    }
    /*MODIFICACION DE LA LIBRERIA DE SWIPER*/
    .swiper-pagination-bullet{
        width: 20px;
        height: 20px;
        opacity: unset;
        background: white;
    }
    .swiper-pagination-bullet-active{
        background: black;
        color: white;
    }
    .swiper-container{
        height: 80vh;
    }
    /*FIN*/
}

@media(min-width:530px) and (max-width:767px){

    /*    SECTION*/    
    section{
        grid-area:section;
    }
    #zoom{
        display: none;
    }
    section #detallesProducto{
        padding: 10px;
    }
    .nombreProducto, .precioProducto{
        padding: 5px;
        text-align: center;
        font-size: 1.5em;
    }
    .descripcionProducto{
        display: none;
    }
    #detallesProducto .eleccion{
        display: flex;
        justify-content: space-around;
    }
    #detallesProducto .eleccion > div{
        display: inline-flex;
        align-items: center;
        margin-bottom: 20px;
    }
    #detallesProducto .eleccion .menuColor .colores li, #detallesProducto .eleccion .menuTalles .talles li{
        display: inline-block;
        margin-right: 5px;
    }

    /*    CHECKED COLOR*/
    #detallesProducto .menuColor .colores > li > input{
        display: none
    }
    #detallesProducto .menuColor .colores > li > label{
        width: 20px;
        height: 20px;
        display: block;
        border-radius: 50%;
    }
    #detallesProducto .menuColor .colores > li > input:checked  ~ label{
        opacity: 0.5; 
        border: 2px solid rgb(0, 0, 0);
    }
    /*FIN*/
    /*    CHECKED TALLE*/
    #detallesProducto .menuTalles .talles > li > input{
        display: none
    }
    #detallesProducto .menuTalles .talles > li > label{
        display: block;
        border: 1px solid black;
        padding: 5px;
    }
    #detallesProducto .menuTalles .talles > li > label:hover{
        background: grey;
        color: white;
    }
    #detallesProducto .menuTalles .talles> li > input:checked  ~ label{
        background: black;
        color: white;
    }
    /*FIN*/

    #detallesProducto .btn{
        margin: auto;
        width: 100%;
        margin-bottom: 10px;
    }

    /*MODIFICACION DE LA LIBRERIA DE SWIPER*/
    .swiper-pagination-bullet{
        width: 20px;
        height: 20px;
        opacity: unset;
        background: white;
    }
    .swiper-pagination-bullet-active{
        background: black;
        color: white;
    }
    .swiper-container{
        height: 80vh;
    }
    .swiper-wrapper{
        bottom: 20%;
    }
    /*FIN*/    
}
@media(min-width:768px) and (max-width:1023px){

    /*    SECTION*/    
    section{
        grid-area:section;
    }
    #zoom{
        display: none;
    }
    section #detallesProducto{
        padding:10px;
    }
    .nombreProducto, .precioProducto{
        padding: 5px;
        text-align: center;
        font-size: 1.5em;
    }
    
    .descripcionProducto{
        display: none;
    }
    
    #detallesProducto .eleccion{
        display: flex;
        justify-content: space-evenly;
    }
    #detallesProducto .eleccion > div{
        padding: 10px;
        display: inline-flex;
        align-items: center;
        margin-bottom: 20px;
    }
    #detallesProducto .eleccion .menuColor .colores li, #detallesProducto .eleccion .menuTalles .talles li{
        display: inline-block;
        margin-right: 8px;
    }

    /*    CHECKED COLOR*/
    #detallesProducto .menuColor .colores > li > input{
        display: none
    }
    #detallesProducto .menuColor .colores > li > label{
        width: 20px;
        height: 20px;
        display: block;
        border-radius: 50%;
    }
    #detallesProducto .menuColor .colores > li > input:checked  ~ label{
        opacity: 0.5; 
        border: 2px solid rgb(0, 0, 0);
    }
    /*FIN*/
    /*    CHECKED TALLE*/
    #detallesProducto .menuTalles .talles > li > input{
        display: none
    }
    #detallesProducto .menuTalles .talles > li > label{
        display: block;
        border: 1px solid black;
        padding: 5px;
    }
    #detallesProducto .menuTalles .talles > li > label:hover{
        background: grey;
        color: white;
    }
    #detallesProducto .menuTalles .talles> li > input:checked  ~ label{
        background: black;
        color: white;
    }
    /*FIN*/

    #detallesProducto .btn{
        margin: auto;
        width: 100%;
        margin-bottom: 10px;
    }

    /*MODIFICACION DE LA LIBRERIA DE SWIPER*/
    .swiper-pagination-bullet{
        width: 20px;
        height: 20px;
        opacity: unset;
        background: white;
    }
    .swiper-pagination-bullet-active{
        background: black;
        color: white;
    }
    .swiper-container{
        height: 80vh;
    }
    .swiper-wrapper{
        bottom: 20%;
    }
    /*FIN*/
}

@media(min-width:1024px){

    /*    SECTION*/
    #slider{
        display: none;
    }
    section {
        grid-area: section;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .nombreProducto, .precioProducto{
        padding: 10px;
        font-size: 1.5em;   
    }
    .descripcionProducto{
        display: block;
        margin-top: 20px;
    }
    .descripcionProducto h3{
        font-size: 17px;
        font-weight: bold;
        text-transform: uppercase;
        border-bottom: 2px solid black;
    }
    .descripcionProducto h3:after{
        content: "+";
        float: right;
    }
    .descripcionProducto h3.active:after{
        content: "-";
        float: right;
    }
    .descripcionProducto p{
        margin-top: 10px;
        font-size: 15px;
    }
    #detallesProducto .eleccion > div{
        margin-bottom: 20px;
    }
    #detallesProducto .eleccion .menuColor .colores li, #detallesProducto .eleccion .menuTalles .talles li{
        display: inline-block;
        margin-right: 8px;
    }
    #detallesProducto .eleccion .menuColor,  #detallesProducto .eleccion .menuTalles, #detallesProducto .eleccion .cantidad{
        padding: 10px;
    }
    /*    CHECKED COLOR*/
    #detallesProducto .menuColor .colores > li > input{
        display: none
    }
    #detallesProducto .menuColor .colores > li > label{
        width: 20px;
        height: 20px;
        display: block;
        border-radius: 50%;
    }
    #detallesProducto .menuColor .colores > li > input:checked  ~ label{
        opacity: 0.5; 
        border: 2px solid rgb(0, 0, 0);
    }
    /*FIN*/
    /*    CHECKED TALLE*/
    #detallesProducto .menuTalles .talles > li > input{
        display: none
    }
    #detallesProducto .menuTalles .talles > li > label{
        display: block;
        border: 1px solid black;
        padding: 5px;
    }
    #detallesProducto .menuTalles .talles > li > label:hover{
        background: grey;
        color: white;
    }
    #detallesProducto .menuTalles .talles> li > input:checked  ~ label{
        background: black;
        color: white;
    }
    /*FIN*/

    #detallesProducto .btn{
        margin: auto;
        width: 100%;
    }

    /*MODIFICACION SWIPER */
    section .Thumbs {
        height: 100%;
    }
    .Thumbs .swiper-slide {
        opacity:1;
    }
    /*Y ZOOM*/ 
    .zoom img:hover {
        cursor:-webkit-zoom-in;
    }
    /*    FIN*/

}
